version: "3"
services:
  
  logger:
    restart: always
    build: 
      context: bin
      dockerfile: Dockerfile
    image: rkrikbaev/modbus-slave:latest
    container_name: file-logger
    stdin_open: true
    tty: true
    volumes:
      - .\csv_data:/app/csv_data
      - .\db:/app/db
      - .\.env:/app/.env
    command: "python modbus_slave.py"
    depends_on:
      - graber

  restarter:
    image: docker:cli
    volumes: ["/var/run/docker.sock:/var/run/docker.sock"]
    command: ["/bin/sh", "-c", "while true; do sleep 86400; docker restart file-logger; done"]
    restart: always